.menu-open {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

.close-responsive-button {
    position: fixed;
    font-size: 2rem;
    padding: 20px;
}

.responsive-nav {
    float: left;
    z-index: 1000;
    border: 2px black solid;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(255, 251, 246);
}

.ham-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem; 
    height: 50vh;
    padding-top: 20vh;
}

.ham-nav a {
    margin: auto;
    text-align: center;
    padding: 0%;
    text-decoration: none;  
}