.backnav {
    height: 20px;
}

.backbtn {
    width: 100%;
    height: 20px;
    margin: 0% !important;
}

.project-title {
    width: 100%;
    text-align: center;
    margin: 0%;
}

.project-description {
    color: rgb(153, 153, 153);
    text-align: center;
    width: 100%;
}


.subtitles {
    text-align: center;
    margin: auto;
}