body {
    margin: 0%;
    background-color: rgb(255, 251, 246);
}

.menu-closed {
    height: 100%;
    background-color: rgb(255, 251, 246);
    font-family: Arial, Helvetica, sans-serif;
    cursor: url('cursor.png'), auto;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.hamburger-click-area {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
}

.hamburger {
    width: 28px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger i {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 2px;
}

.nav-link {
    text-decoration: none !important;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: 13px;
}

.navigation {
    /* margin: 5vh; */
    height: 90vh;
    border-radius: 25px;
    /* border: 2px solid black; */
    width: 25%;
    position: fixed;
}

.works {
    width: 70%;
    float: right;
    height: 100vh;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.helloMessage {
    padding: 5%;
    margin-top: 10vh;
    text-align: center;
}

.helloMessage img {
    width: 100px;
}

.main {
    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: row;
}

nav {
    align-items: center;
    text-align: center;
}

a {
    color: black;
    margin: 20px;
    padding-left: 10%;
    display: flex;
    overflow: hidden;
    background-color: none;
    border: none;
    flex-wrap: nowrap;
}

.content {
    width: 75%;
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: visible;
    padding-top: 5vh;
    /* margin: 0 auto; */
    gap: 1%;
}

.project-cover {
    width: 330px;
    display: flex;
    flex-direction: column;
    margin-right: 1%;
    padding-left: 0;
}

.cover-image-wrap {
    width: 100%;
    margin-bottom: 10px;
}

.projects:nth-child(3n + 1) {
    clear: left;
    margin-left: 5%;
}

.cover__img {
    border-radius: 5px;
    width: 100%;
}

.details-wrap {
    padding-bottom: 9%;
}

.title {
    color: rgb(34, 34, 34);
    float: none;
    font-family: helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    margin: auto;
    padding: 0px 0% 5px;
    text-align: center;
    width: 90%;
}

.description {
    color: rgb(153, 153, 153);
    float: none;
    font-family: helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    margin: auto;
    padding: 2px 0% 10px;
    text-align: center;
    text-transform: none;
    width: 90%;
}

::-webkit-scrollbar {
    display: none;
}

.project-title,
a:link {
    text-decoration: none !important;
}

@media screen and (max-width: 1629px) {
    .project-cover {
        width: 45%;
        /* margin-left: auto; */
    }
}

@media screen and (max-width: 900px) {
    .content {
        margin: auto;
    }

    .project-cover {
        width: 100%;
    }

    .navigation {
        display: none;
    }

    .works {
        width: 100%;
    }

    .projects:nth-child(3n + 1) {
        clear: left;
        margin-left: 5%;
        margin-right: 5%;
    }

    .navigation {
        position: fixed;
        left: 0;
        top: 0;
        width: 70%;
        height: 100vh;
        background: white;
        z-index: 999;
    }

    .hamburger-click-area {
        display: inline;
    }
}