.footer-container hr {
    /* border: 1px solid rgb(85, 130, 91); */
    border: 1px solid rgb(124, 19, 19);
}

.contacts {
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    width: 20%;
}

.contacts a {
    text-decoration: none !important;
    color: white;
    margin: auto !important;
}

.footer-container {
    /* background-color: rgb(167, 207, 173); */
    background-color: brown;
    color: white;
    width: 100%;
}

.footer-text {
    padding: 20px;
    padding-bottom: 0px;
    margin: 0%;
    text-align: center;
}


.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 50%;
    margin: auto;
    margin-top: 2%;
    padding: 0%;
}

.footer-nav a {
    padding: 0%;
    color: white;
    font-size: 15px;
}

.copyright {
    color: rgb(193, 132, 132);
    padding: 5px;
    /* width: 100%; */
    text-align: center;
}

@media screen and (max-width: 777px) {
    .footer-nav {
        width: 100%;
    }
}